<div class="login-body">

    <img class="login-logo" src="../../assets/logo.png" />
    <form class="login-form">
        <span class="error">Nombre de usuario inválido</span>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput placeholder="Nombre de usuario">
        </mat-form-field>

        <span class="error">Email inválido</span>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
        </mat-form-field>

        <span class="error">Password inválido</span>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
        </mat-form-field>

        <div class="full-width">
            <button mat-raised-button color="primary" class="full-width">Registrarme</button>
        </div>

        <div class="full-width" class="link-line">
            ¿Ya tienes cuenta? <a href="">Iniciar sesión</a>
        </div>

    </form>
</div>